body {
    font-family: "Inter", serif;
    position: relative;
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
:root {
    --main-color--: #0b9586;
    --yellow-color--: #ffbb1c;
}
/* start navbar */
.navbar{
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 75px;
    background-color: var(--main-color--);
    /* display: flex; */
    /* justify-content: space-between; */
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar .logo {
    position: relative;
    cursor: pointer;
} 
.navbar .logo img {
    margin-top: 15px;
    width: 90%;
}
.navbar .logo .overlay {
    position: absolute;
    left: 23px;
    top: 5px;
    width: 70%;
    height: 100%;
    opacity: 80%;
    border-radius: 10px;
    background-color: #0a8678;
    z-index: 2;
} 
.navbar .links {
    display: flex;
    justify-content: space-around;
}
.links a {
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: 200;   
}
.links a.active,
.links a:hover {
    transition: all ease-in-out;
    background-color: #0a8678;
    border-bottom: 3px solid #076258;
    font-weight: 400;
}
.phone {
    color: #fff
}
.phone .call {
    font-size: 14px;
    padding-left: 80px;
    padding-top: 0px;
    font-weight: 200;
}
.phone .number {
    margin-top: -10px;
}
/* end navbar */
/* start landing */
.landing {
    margin-left: -10px;
    background-image: url("./assets/images/landing.png");
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding-left: 10%;
}
.landing .bar {  
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    font-weight: 200;
    justify-content: flex-start;
    padding-bottom: 5%;
}
.landing .bar .slide {
    position: relative;
    width: 200px;
    background-color: #333;
    height: 3px;
    border-radius: 4px;
}
.landing .bar .slide::after {
    content: "";
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
}
.landing .text {
    width: 570px;
}
.landing .text h1 {
    font-size: 50px;
    font-weight: 500;
}
.landing .text p {
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;
}
.landing .buttons button,
.sketch .request {
    padding: 7px 15px;
    border-radius: 30px;
    font-weight: 300;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.landing .call {
    background-color: var(--main-color--);
    margin-right: 30px;
    color: #fff;
}
.landing .call:hover {
    color: var(--main-color--);
    background-color: #fff;
}
.landing .call:hover,
.landing .request:hover,
.sketch .request:hover {
    transition: linear;
}
.landing .request,
.sketch .request {
    background-color: var(--yellow-color--);
    color: black;
}
.landing .request:hover,
.sketch .request:hover {
    color: var(--yellow-color--);
    background-color: black;
}

/* end landing */
/* start features */
.features {
    padding: 80px;
}
.features .container {
    display: flex;
    justify-content: space-between;
}
.features .text {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.features .text h2 {
    font-size: 40px;
    margin-top: -10px;
}
.features .text p {
    font-size: 14px;
    color: #aaa;
    line-height: 1.5;
}
.features .heads {
    padding-top: 40px;
}
.features .heads p {
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.features .heads span {
    color: #84bd3a
}
.features .img-holder {
    height: 40%;
    position: relative;
}
.features .img-holder img {
    max-width: 90%;
}
.features .img-holder .card {
    width: 250px;
    height: 200px;
    background-color: var(--yellow-color--);
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: -20%;
}
.features .card img {
    width: 100px;
    margin-top: 10px;
}
.features .card p {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 15px;
}
/* end features */
/* start sketch */
.sketch {
    background-image: url("assets/images/sketch-img.png");
    background-size: cover;
    margin: 0 -10px;
    color: #fff;
    height: 470px;
}
.sketch .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 90px 0 0 80px;
}
.sketch h2 {
    font-weight: 500;
    font-size: 45px;
}
.sketch p {
    width: 550px;
    line-height: 1.5;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 50px;
}
/* end sketch */
/* start cards */
.cards {
    padding: 60px;
}
.cards .container {
    text-align: center;
}
.cards h2 {
    font-size: 45px;
}
.cards .container p {
    margin: auto;
    color: #868f9b;
    width: 800px;
    font-size: 14px;
    line-height: 1.5;
}
.cards .boxes {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}
.cards .box,
.cards .box .content,
.energy-cards .cards .card,
.feedback .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.cards .box {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 20px;
}
.cards .box:not(:last-child) {
    margin-right: 40px;
}
.cards .box img {
    width: 100%;
}
.cards .box .content {
    justify-content: flex-start;
    padding: 0 0 20px 30px;
}
.cards .box p,
.energy-cards .cards .card p,
.values .card p {
    width: 250px;
    text-align: left;
    line-height: 1.5;
    font-size: 12px;
    color: #868f9b;
    margin-top: -3px;
}
.cards .box a,
.energy-cards .cards .card a {
    color: var(--main-color--);
    text-decoration: none;
    font-size: 12px;
    margin-top: 13px;
}
.cards .box a i ,
.energy-cards .cards .card a i {
    margin-left: 10px;
}
/* end cards */
/* start repairs */
.repairs {
    padding: 60px;
    height: 350px;
    background-image: url("assets/images/repairs-img.png");
    background-size: cover;
    margin-left: -10px;
    color: #fff;
    position: relative;
}
.repairs .overlay {
    position: absolute;
    top: 30%;
    left: 28%;
    background-color: #333333d0;
    width: 600px;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.repairs .overlay h2 {
    font-size: 30px;
    font-weight: 500;
}
.repairs .overlay p {
    margin-top: -5px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    width: 515px;
    text-align: center;
}

/* end repairs */
/* start energy cards */
.energy-cards {
    background-color: #fffcf4;
    margin-right: -30px;
}
.energy-cards,
.energy-cards .icon,
.energy-cards .icon i ,
.energy-cards .text,
.values,
.feedback .comment .name .text,
.footer .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}
.energy-cards,
.energy-cards .icon,
.energy-cards .icon i ,
.energy-cards .text,
.values {
    align-items: center;
    text-align: center;
}
.energy-cards .text h2,
.values .text h2 {
    font-size: 40px;
}
.energy-cards .icon,
.energy-cards .icon i,
.energy-cards .cards .card,
.energy-cards .card .img-holder,
.values .card,
.feedback .card {
    border-radius: 10px;
}
.energy-cards .icon,
.energy-cards .cards .card .img-holder {
    background-color: #e2f0e5;
}
.energy-cards .icon {
    width: 90px;
    height: 90px;
    margin: 50px 0 20px;
}
.energy-cards .icon i {
    background-color: var(--main-color--);
    width: 70px;
    height: 70px;
    font-size: 40px;
    color: #fff;
}
.energy-cards .text p,
.values p {
    color: #868f9b;
}
.energy-cards .text p {
    width: 800px;
    line-height: 1.5;
    margin-top: -5px;
}
.energy-cards .cards,
.values .cards,
.feedback {
    display: flex;
}
.energy-cards .cards {
    flex-wrap: wrap;
    justify-content: center;
}
.energy-cards .cards .card ,
.values .cards .card {
    border: 1px solid var(--main-color--);
    padding: 20px;
    text-align: left;
    background-color: #f5f8ef;
    margin-bottom: 20px;
}
.energy-cards .cards .card {
    width: 300px;
}
.energy-cards .cards .card:not(:last-child),
.values .cards .card:not(:last-child) {
    margin-right: 20px;
}
.energy-cards .card .img-holder {
    padding: 10px 0;
    margin: auto;    
}
.energy-cards .card:nth-of-type(3) .img-holder{
    margin-top: 0px;
    margin-bottom: 10px;
}
.energy-cards .card:nth-of-type(3) p {
    margin-top: 10px;
}
.energy-cards .card:nth-of-type(3) a {
    margin-top: 20px;
}

/* end energy cards */
/* start values */
.values .cards {
    flex-wrap: wrap;
    justify-content: center;
}
.values .cards .card,
.feedback .card {
    background-color: #f5fbf9;
}
.values .card .icon i ,
.feedback i ,
.feedback .card h3 {
    color: var(--main-color--);
}
.values .card .icon i ,
.feedback i  {
    font-size: 40px;
}
.values p {
    font-size: 18px;
}
/* end values */
/* start feddback */
.feedback {
    padding: 0 40px 50px 90px;
}
.feedback .text p,
.feedback .card p ,
.feedback .icons i{
    color: #333;
}
.feedback .text h2 {
    font-size: 30px;
    width: 250px;
}
.feedback .text h2,
.feedback .text p {
    line-height: 1.5;
}
.feedback .text p {
    width: 350px;
}
.feedback .card {
    padding: 0px 30px 20px;
    width: 700px;
    position: relative;
}
.feedback .card h3 {
    margin-top: 30px;
}
.feedback .card .dots {
    position: absolute;
    right: 20px;
    top: 30px;
    display: flex;
}
.feedback .card .dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #dadada;
    cursor: pointer;
}
.feedback .card .dot.active,
.feedback .card .dot:hover {
    background-color: #333;
}
.feedback .card .dot:not(:last-of-type){
    margin-right: 5px;
}
.feedback .card p {
    width: 700px;
}
.feedback .comment,
.feedback .comment .name,
.feedback .icons {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.feedback .name {
    width: 700px;
}
.feedback .name .text {
    margin-left: 20px;
}
.feedback .name .text p {
    margin-top: -15px;
}
.feedback .icons .left,
.feedback .icons .right {
    border: 1px solid #333;
    padding: 7px 10px;
    border-radius: 50%; 
    cursor: pointer;
}
.feedback .icons .left:hover,
.feedback .icons .right:hover {
    background-color: var(--main-color--);
    transition: linear;
    border-color: #e2f0e5;
}
.feedback .icons .left:hover i,
.feedback .icons .right:hover i {
    color: #e2f0e5;
    
}
.feedback .icons {
    position: absolute;
    right: 30px;
}
.feedback .icons i {
    font-size: 15px;
}
.feedback .icons .left {
    margin-right: 10px;
}
/* end feedback */
/* start footer */
.footer {
    background-color: #283646;
    margin-left: -10px;
    padding: 40px 60px 30px 80px;
}
.footer .content {
    position: relative;
}
.footer .content::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #3a4654;
    bottom: 0;
}
.footer .content .img-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer .overlay {
    position: relative;
}
.footer .overlay img {
    width: 150px;
    height: 50px;
}
.footer .overlay::after {
    content: "";
    position: absolute;
    background-color: #d9e7f7;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    opacity: 50%;
}
.footer .img-link .links {
    padding: 20px 0;
}
.footer .img-link .links,
.footer .sub {
    margin-bottom: 30px;
}

.footer .img-link .links a {
    font-size: 12px;
    margin-left: -20px;
}
.footer .img-link .links a:hover {
    background-color: var(--yellow-color--);
    border-bottom: none;
    transition: linear;
}
.footer .sub p {
    font-size: 14px;
}
.footer .sub ,
.footer .sub button{
    color: #fff;
}
.footer .sub .field {
    position: relative;
}
.footer .sub input,
.footer .sub button {
    border: none;
    border-radius: 20px;
    padding: 12px 10px;
}
.footer .sub input {
    width: 300px;
    background-color: #3b4857;
    border: 1px solid #aaa;
}
.footer .sub input:focus {
    outline: none;
    color: #fff;
}
.footer .sub button {
    background-color: var(--yellow-color--);
    position: absolute;
    right: 0;
    top: 1px;
    width: 100px;
    cursor: pointer;
}
.footer .sub button:hover {
    background-color: #fff;
    color: var(--yellow-color--);
    transition: linear;
}
.footer .copy {
    color: #4a5766;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/* end footer */

/* media queries */
@media screen and (max-width: 991px) {
    .features .img-holder {
        margin-left: 80px;
    }
    .features .heads {
        display: none;
    }
    .features .img-holder .card {
        top: 30%;
    }
    .repairs .overlay {
        top: 28%;
        left: 20%;
    }
    .feedback {
        flex-direction: column;
        align-items: center; 
        margin-right: 70px;
    }

}
@media screen and (max-width: 768px) {
    .navbar .logo img {
        margin-left: 12px;
    }
    .navbar .phone {
        display: none;
    }
    .navbar .links a {
        margin: auto;
        font-size: 10px;
    }
    .landing .text {
        width: 350px;
    }
    .landing .text h1 {
        font-size: 35px;
    }
    .landing .buttons {
        margin-top: 30px;
    }
    .landing .call {
        margin-bottom: 10px;
    }
    .features {
        padding: 60px 30px;
    }
    .features .container {
        flex-direction: column;
    }
    .features .text {
        width: 300px;
    }
    .features .img-holder {
       display: none;
    }
    .sketch .content h2 {
        font-size: 30px;
    }
    .sketch p {
        width: 375px;
    }
    .sketch .content {
        padding-left: 30px;
        width: 275px;
    }
    .sketch .content p {
        font-size: 18px;
    }
    .cards .container p {
        width: 300px;
    }
    .repairs .overlay {
        left: 7%;
        top: 20%;
        padding: 20px;
        width: 300px;
    }
    .repairs .overlay h2 {
        font-size: 18px;
    }
    .repairs .overlay p {
        width: 300px;
    }
    .energy-cards {
        margin-right: 20px;
    }
    .energy-cards .text h2 {
        font-size: 30px;
    }
    .energy-cards .text p {
        width: 320px;
    }
    .feedback .card,
    .feedback .card p {
        width: 300px;
    }
    .feedback .comment .name .text {
        align-items: normal;
    }
    .feedback .comment .icons {
        display: none;
    }
    .footer .img-link img {
        width: 80px;
    }
    
    .footer .sub input {
        width: 200px;
        margin-left: 10px;
    }
    .footer .sub p {
        font-size: 12px;
    }
    
    .footer .copy {
       flex-direction: column; 
    }
}